/* image hover */

.hovereffect {
    float:left;
    overflow:hidden;  
    cursor:default;
}
.hovereffect img {
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
}
.hovereffect:hover img{
      -ms-transform:scale(1.2);
      -webkit-transform:scale(1.2);
      transform:scale(1.2);
      opacity: .6;
}


img{
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}




#site-section-3  .post-entry-2 .thumbnail{
    max-height: 13vh;
}

#site-section-4  .post-entry-2 .thumbnail{
    max-height: 18vh;
}

#site-section-5  .post-entry-2 .thumbnail{
    max-height: 15vh;
  
}

@media only screen and (max-width: 600px) {

}
  
  
  
  

/* image hover end */

/* heading hover */
/* #8bc34a */

 .trend-entry .trend-contents h2:hover a, .contents h2:hover a, .half-post-entry  .contents h2:hover a, .post-entry-1 h2:hover a{
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #8bc34a 
}

/* heading hover  end*/

/* nav hover */
#sticky-wrapper li:hover .nav-link{
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #8bc34a;
}
/* nav hover end*/

/* nav icon */
.icon{
    font-size: 1rem;
}

.header-top a:hover span{
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #8bc34a;
}

 input[type=text], input[type=email],input[type=url],textarea{
    box-shadow: inset 1px 2px 8px rgba(139, 195, 74, 0.07);
}

input[type=text]:focus ,input[type=email]:focus,input[type=url]:focus,textarea:focus{
    color: #8bc34a;
    border: 1px solid #B8B6B6;
    box-shadow: inset 1px 2px 4px rgba(139, 195, 74, 0.01) 0px 0px 8px rgba(139, 195, 74, 0.02);
  }
/* nav icon end*/

/* button hover */
/* 15 */



  .custom-btn {
    width: 100px;
    height: 50px;
    color: #fff;
    border-radius: 30px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
   background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    
  }
  
/* 9 */
.btn-9 {
    border: none;
    transition: all 0.3s ease;
    overflow: hidden;

  }
  .btn-9:after  {
    position: absolute;
    content: " ";
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1fd1f9 ;
    background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
    transition: all 0.3s ease;
  }
  .btn-9:hover {
    background: transparent;
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    color:  #8bc34a;
  }
  .btn-9:hover:after {
    -webkit-transform: scale(2) rotate(180deg);
    transform: scale(2) rotate(180deg);
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  }

  /* button hover end*/
  

  /* Next & previous buttons slider*/
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.owl-slide-3 .owl-nav .owl-next, .owl-slide .owl-nav .owl-next, .owl-style .owl-nav .owl-next:hover,
.owl-slide-3 .owl-nav .owl-prev, .owl-slide .owl-nav .owl-prev, .owl-style .owl-nav .owl-prev:hover
{
  background-color:#8bc34a;
}

 /* Next & previous buttons slider end*/

/*  active class nav */
 #sticky-wrapper > div > div > div > div > nav > ul > li.active > a{
   color: #8bc34a !important;
   opacity: .5;
 }
 /*  active class nav  end*/

 /* login button */
 .site-navigation{
   display:flex;
    justify-content:flex-end;
 }

 .site-navigation .login{
   margin-left: 6rem;
   
 }
 .site-navigation .login button{
    height:2rem;  
 }

 .site-navigation .login .custom-btn{
 background:linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
 padding: 0;
}
 /* login button */